@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");

:root {
  --proRed: #ff005d;
}

/* ******* *
  General
* ******* */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 100%;
  }
  
  body {
    
  }
  
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  h3 {
    font-size: 1.6rem;
    font-weight: 400;
  }
  
  p {
    font-family: "Poppins", sans-serif;
  }

/* ******* *
  HOME
* ******* */
.home{
display: flex;
padding: 2px 10px;
background-color: black;
flex-direction: row;
align-content: center;
}

/* ******* *
  HOME LEFT
* ******* */
.home-left{
    display: flex;
    flex-direction: column;
    width: 6%;
    height: 100vh;
    border-radius: 10px;
    background-color: #222222;
    border: white;
    align-items: center;
    justify-content: space-around;
}
.left-notify{
  top: 5%;
  font-size: 3rem;
  font-family: 'Montserrat';
  margin-bottom: 20px;
  /* background-color: blue; */
}
.left-menubar{
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
}
#searchicon{
  cursor: pointer;
}
#searchheart{
  width: 40%;
  cursor: pointer;
}
#homeicon{
  cursor: pointer;
}
#searchcamera{
  cursor: pointer;
  width: 40%;
}

.left-accinfo{
  display: flex;
  height: 30%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
#acc-messages{
  width: 55%;
  cursor: pointer;
  margin-bottom: 20px;
}
#acc-pic{
  width: 40%;
  cursor: pointer;
}
.home-middle{
  /* background-color: white; */
  width: 74%;
  height: 100vh;
  display: flex;
  justify-content:  center;
}
.middle-main{
width: 90%;
height: 100vh;
color: white;
/* background-color: blue; */
}
.middle-headline{
  color: white;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
.middle-newalbums{
  display: flex;
  width: 100%;
  justify-content: center;
}
#carouselExampleControls{
  height: 200px;
  width: 80%;
}
.carousel{
  height: 200px;
  width: 80%;
}
.carousel-item{
  height: 200px;
  width: 80%;
}
.d-block{
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.album-cover{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;

}
#album-cover{
width: 15%;

}
.middle-bottom{
margin-top: 30px;
width: 100%;
height: 300px;
color: white;
display: flex;
flex-direction: row;
justify-content: space-around;
}
.bottom-saved{
width: 40%;
border-radius: 20px;
border: 1px solid white;
display: flex;
align-items: center;
justify-content: center;

}
.bottom-fav{
  width: 40%;
border-radius: 20px;
border: 1px solid white;
display: flex;
align-items: center;
justify-content: center;
}

.home-right{
  display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
    border-radius: 10px;
    background-color: #222222;
    align-items: center;
}
.right-headline{
  align-content: center;
  color: white;
  font-size: 1rem;
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
.right-top{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
}
#cover1{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 1px solid white;
}
#soundwaves{
  width: 60%;
}