@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #0c0c0c;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1b1b1b;
    border-radius: 100vw;
  }

  .chat-button{
      background-color: #FFD369;
      color: black;
      border: 2px solid transparent;
      padding: 3px;
      width: 50px;
      font-weight: 600;
  }

  .chat-button:hover{
      border: 2px solid white;
  }
  

  /* NAV */
nav{
    height: 100vh;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav p{
    padding: 6px;
    border-radius: 5px;
}

nav p:hover{
    background-color: #1b1b1b;
    cursor: pointer;
}

.nav-links{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settings{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Chat Area  */
.chat-header{
    padding: 20px 0 0 140px; 
}
.chat-area{
    height: 100vh;
    width: 100vw;
    background-color:#0c0c0c;
    padding: 20px 370px 20px 140px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.chat-inside{
    width: 100%;
    height: 90%;
    border: 30px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.messages{
    height: 80%;
    width: 80%;
    padding : 30px;
    border-left : 1px solid white;
    margin-bottom: 20px;
    background-color: #0c0c0c;
    margin-top: 30px;
}
.chat-input{
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
#input-text{
    width: 70%;
    margin-right: 5px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    outline: none;
    font-weight: 600;
}
#send-button{
    width: 10%;
    background-color: #E41f7b;
    color: white;
    font-weight: 600;
    align-items: center;
    width: 80px;
    cursor: pointer;
    height: 40px;
    border: 2px solid transparent;
}

#send-button:hover{
    border: 1px solid white;
}




/* RIGHT SIDE */
.now-playing-section{
    background-color: black;
    height: 100vh;
    width: 350px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.song-image{
    background-color: #0c0c0c;
    height: 200px;
    margin-top: 20px;
    background-image: url("./img/clip-art.jpg");
    background-size: cover;
}

.progess-bar{
    height: 30px;
    background-color: #0c0c0c;
    margin-top: 20px;
    padding: 3px;
}

.music-container{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.music-container i:hover{
    cursor: pointer;
}
#prev{
    background-color: transparent;
    border: none;
}
#play{
    background-color: transparent;
    border: none;
}
#next{
    background-color: transparent;
    border: none;  
}
.music-container.play .music-info {
    opacity: 1;
    transform: translateY(-100%);
  }
  
.friends-tab{
    height: 750px;
    background-color: #0c0c0c;
    margin-top: 5px;
    overflow-y: scroll;
    padding: 10px;
}

.friend{
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

.friend h3{
    font-size: 1rem;
    font-weight: 500;
  }
  
  .friend .chat-button{
    background-color: #E41f7b;
    border-radius: 100vw;
    width: 90px;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 400;
    color: white;
    font-size: 0.8rem;
    text-align: center;
  }