@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #0c0c0c;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

button{
  background-color: #E41f7b;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1b1b1b;
  }

  .chat-button{
      background-color: #FFD369;
      color: black;
      border: 2px solid transparent;
      padding: 3px;
      width: 50px;
      font-weight: 600;
  }

  .chat-button:hover{
      border: 2px solid white;
  }

.preloader{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    background-color: #0c0c0c;
    color: white;
    font-size: 50px;
    text-align: center;
    animation: disappear 2s forwards;
    animation-delay: 4s;
    display: none;
}

.preloader-text1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    animation: blink 2s forwards;
    opacity: 0;
}

.preloader-text2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    animation: blink 2s forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes disappear{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}



/* NAV */
nav{
    height: 100vh;
    width: 7vw;
    background-color: #000000;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav p{
    padding: 6px;
    border-radius: 5px;
}

nav p:hover{
    background-color: #1b1b1b;
    cursor: pointer;
}

.nav-links{
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.settings{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* MAIN AREA */
.main-area{
    height: 100vh;
    width: 70vw;
    background-color: rgba(12, 12, 12, 0.7);
}

.main-area::-webkit-scrollbar {
  display: none;
}

.main-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-text{
  font-size: 2rem;
  font-weight: 700;
}

#text{
    border-radius: 100vw;
    height: 40px;
    width: 300px;
    color: black;
    padding: 5px 15px;
    outline: none;
    font-weight: 700;
}

#submit {
    background-color: #E41f7b;
    border-radius: 100vw;
    padding: 5px 30px;
    border: none;
    margin-left: 10px;
    height: 40px;
    cursor: pointer;
    border: 2px solid transparent;
}

#submit:hover{
  border: 2px solid white;
}

.center-div{
  overflow-y: scroll;
  height: 100%;
}

.main-section-wrapper{
    height: 50%;
    background-color: black;
    margin-bottom: 30px;
    padding: 30px;
    margin-bottom: 50px;
}

.main-section-wrapper p{
  font-weight: 600;
  font-size: 1.2rem;
}

.main-sections{
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.fresh-album-cards{
    display: flex;
    gap: 30px;
    width: 2000px;
    overflow-x: scroll;
    margin-top: 20px;
}

.recently-played-cards{
    display: flex;
    gap: 30px;
    width: 2000px;
    overflow-x: scroll;
    margin-top: 20px;
}

.search-result-cards{
    display: flex;
    gap: 30px;
    width: 2000px;
    overflow-x: scroll;
    margin-top: 20px;
}

.cards{
    display: flex;
    gap: 20px;
}

.card{
    width: 200px;
    height: 200px;
    background-color: violet;
    border-radius: 10px;
    background-size: cover;
    padding: 15px;
    cursor: pointer;
}

.card:hover{
    opacity: 0.75;
}

/* NOW-PLAYING */

.now-playing-section{
    background-color: black;
    height: 100vh;
    width: 23vw;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
}

.now-playing-section h1{
  font-size: 2rem;
}

.now-playing-section p{
  font-size: 1.2rem;
  font-weight: 700;
}

.song-thumbnail{
    background-color: #0c0c0c;
    height: 200px;
    margin-top: 20px;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/soundemic-4f707.appspot.com/o/KOBE_NEMESIS%2FThumbnail?alt=media&token=c34ebabe-4bbd-4659-b4e4-ff22221376cb");
    background-size: cover;
    border-radius: 10px;
}

.song-name{
    height: 30px;
    margin-top: 15px;
    padding: 3px;
    font-size: 1.1rem;
    font-weight: 800;
}

.artist-name{
    height: 30px;
    margin-top: 5px;
    padding: 3px;
    font-weight: 300;
}

.progress-bar{
    height: 30px;
    background-color: #0c0c0c;
    border-radius: 30px;
    margin-top: 20px;
    padding: 3px;
}

.interactive-progress {
    margin-top: 20px;
    padding: 3px;
    margin: auto;
    right: 0;
    left: 0;
    width: 100%;
    -webkit-appearance: none;
    appearance: white;
    background: none;
    top: 63px;
    outline: white;
  }

  .interactive-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: auto;
    height: 17px;
    width: 17px;
    border-radius: 50px;
    background: white;
  }

.music-controls{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.music-controls i:hover{
    cursor: pointer;

}

.friends-tab{
    height: 300px;
    background-color: #0c0c0c;
    margin-top: 5px;
    overflow-y: scroll;
    padding: 10px;
}

.friend{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
}

.friend h3{
  font-size: 1rem;
  font-weight: 500;
}

.friend .chat-button{
  background-color: #E41f7b;
  border-radius: 100vw;
  width: 90px;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 400;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

a{
    text-decoration: none;
    color: black;
  }
  
  a:visited{
    color: black;
  }
  
  .box::-webkit-scrollbar-track
  {
    width: 10px;
  }
  
  .box::-webkit-scrollbar
  {
    width: 10px;
    border-radius: 5px
  }
  
  .box::-webkit-scrollbar-thumb
  {
      background-color: #1b1b1b;
  }
  

 .icons{
    display: inline;
    float:right;
  }
  
  .notification{
    padding-top: 0px;
    position:absolute;
    display: inline-block;
    /* left: 1050px */
  }
  
  .notBtn{
    transition: 0.5s;
    cursor: pointer
  }
  

  
  .box{
    width: 400px;
    height: 0px;
    transition: 0.5s;
    position: absolute;
    overflow-y: scroll;
    padding: 20px;
    left: -300px;
    margin-top: 5px;
    background-color:#0c0c0c;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.1);
    cursor: context-menu;
    z-index: 20;
    visibility: hidden;
  }
  
  .fas:hover {
    color: #E41f7b;
  }
  
  .notBtn:hover > .box{
    height: 60vh;
    visibility: visible;
  }
  
  .content{
    padding: 20px;
    color: #0c0c0c;
    vertical-align: middle;
    text-align: left;
  }
  
  .gry{
    background-color:black;
  }
  
  .top{
    color: black;
    padding: 10px
  }
  
  .display{
    position: relative;
  }
  
  .cont{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
  }
  
  .cont:empty{
    display: none;
  }
  
  .stick{
    text-align: center;  
    display: block;
    font-size: 50pt;
    padding-top: 70px;
    padding-left: 80px
  }
  
  .stick:hover{
    color: black;
  }
  
  .cent{
    text-align: center;
    display: block;
    text-decoration: blanchedalmond;
    text-decoration-color: blanchedalmond;
  }
  
  .sec{
    padding: 25px 10px;
    background-color: black;
    transition: 0.5s;
  }
  
  .profCont{
    padding-left: 15px;
  }
  
  .profile{
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 75px;
    float: left;
  }
  
  .txt{
    vertical-align: top;
    font-size: 1.25rem;
    padding: 5px 10px 0px 115px;
  }
  
  .sub{
    font-size: 1rem;
    color: black;
  }
  
  .new{
    border-style: none none solid none;
    border-color: red;
  }
  
  .sec:hover{
    background-color: grey;
  }
  
  
/* CAMERA MODAL */
.camera-modal{
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.camera-modal.active{
  visibility: visible;
}

.modal-container{
  height: 85vh;
  width: 90vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.modal-container button{
  padding: 10px 40px;
  background-color: #0c0c0c;
  border-radius: 100vw;
  border: 2px solid transparent;
  cursor: pointer;
  width: 40%;
  align-self: center;
  font-weight: 700;
  border: 2px solid black;
}

.modal-container button:hover{
  background-color: #FFD369;
  color: black;
}

.capture{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-search{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cam-div{
  width: 640px; 
  height: 480px;
  /* background: url("../img/Wave\ \(1\).svg"); */
  border: 1px solid grey;

}

.modal-close-button{
  color: white;
  position: absolute;
  top: 5px;
  right: 30px;
  font-size: 3rem;
  transform: rotate(45deg);
  font-weight: 300;
  cursor: pointer;
}

canvas {
  position: absolute;
  top: 200px;
  left: 200px;
}


/* MAIN HEADER */
.search-with-notif{
    display: flex;
    gap: 20px;
}

/* MAIN AREA */
.master-container{
    display: flex;
}

.main-area{

    padding: 30px;
}

.main-sections p{
    margin-bottom: 3px;
}

/* NOW PLAYING */
.song-name, .artist-name{
    text-align: center;
    text-transform: capitalize;
}

/* SEARCH BAR CLASSES */
.search-bar{
  visibility: hidden;
}

.search-bar.active{
  visibility: visible;
}